@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.order-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.order-modal {
  @include transparent;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: visible;

  .modal-scroll-area {
    max-height: 80vh;
    overflow-y: auto;
    padding: 2rem;
  }

  .close-modal {
    position: absolute;
    top: -10px;
    left: -10px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0;
    color: $secondary-color;

    &:hover {
      color: white;
      transform: scale(1.1);
      box-shadow: none;
    }

    svg {
      width: 35px;
      height: 35px;
    }
  }

  h2 {
    margin-top: 0;
    color: $secondary-color;
    text-align: center;
    @include text-iluminate;
  }

  .modal-content {
    background: none;
    backdrop-filter: none;
    padding: 0;
    .order-info,
    .order-items,
    .order-payments {
      margin-bottom: 1rem;

      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      p {
        min-width: 40%; 
        text-align: start;
        margin: 0.4rem 0;
        font-size: 0.9rem;

        strong {
          color: $secondary-color;
        }
      }

      h3 {
        margin-bottom: 0.5rem;
        color: $secondary-color;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 1rem;
          padding: 1rem;
          border: 1px solid #eee;
          border-radius: 4px;
          backdrop-filter: blur(5px);
          display: flex;
          gap: 1rem;
          align-items: center;

          .item-image {
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 4px;
            border: 1px solid #ddd;
            flex-shrink: 0;
          }

          .item-details {
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            p {
              min-width: 40%; 
              text-align: start;
            }
          }
        }
      }
    }


    .modal-actions {
      display: flex;
      justify-content: center;
      margin-bottom: 1.5rem;

      .pay-button {
        width: 100%;
      }
    }
  }
}
