@import '../../../styles/variables';
@import '../../../styles/mixins';

.order-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.order-modal {
  @include transparent;
  border-radius: 8px;
  padding: 2rem;
  max-width: 600px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  .close-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0;
    color: $secondary-color;

    &:hover {
      color: white;
      transform: scale(1.1);
      box-shadow: none;
    }
  }

  h3 {
    margin-top: 0;
    color: $secondary-color;
  }

  .modal-content {
    background: none;
    backdrop-filter: none;
    padding: 0;
    .order-info,
    .order-items,
    .order-payments {
      margin-bottom: 1.5rem;

      h4 {
        margin-bottom: 0.5rem;
        color: $primary-color;
      }

      p {
        margin: 0.25rem 0;
        font-size: 0.9rem;

        strong {
          color: #555;
        }
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 1rem;
          padding: 1rem;
          border: 1px solid #eee;
          border-radius: 4px;
          background-color: #f9f9f9;
        }
      }
    }
  }
}
