// About page styles
@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.us-title {
  margin-top: 110px;
  font-family: $font-family-secondary;
  font-size: 3rem;
  font-weight: 700;
  @include text-iluminate;

  @media (max-width: 768px) {
    margin-top: 100px;
    margin-bottom: 20px;
  }
}
