// About page styles
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.us-title {
  margin-top: 110px;
  font-family: $font-family-secondary;
  font-size: 3rem;
  font-weight: 700;
  @include text-iluminate;

  @media (max-width: 768px) {
    margin-top: 100px;
    margin-bottom: 20px;
  }
}
