@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.cart-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 1000;
  padding-top: 92px;
}

.cart-modal {
  @include transparent;
  position: absolute;
  top: 93px;
  right: 45px;
  width: 500px;
  max-width: 90vw;
  max-height: 85vh;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  padding-bottom: 0;

  h2 {
    margin: 0;
    font-size: 1.5rem;
    color: $secondary-color;
  }
  svg {
    width: 30px;
    height: 30px;
  }

  .close-button {
    position: absolute;
    top: -10px;
    right: -10px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0;
    color: $secondary-color;

    &:hover {
      color: white;
      transform: scale(1.1);
      box-shadow: none;
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }
}

.cart-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  padding-top: 10px;

  .empty-cart {
    text-align: center;
    color: #666;
    font-style: italic;
    margin: 40px 0;
  }
}

.cart-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid #f0f0f0;

  &:last-child {
    border-bottom: none;
  }

  .item-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
    margin: 0 15px;
  }

  .item-details {
    flex: 1;

    h3 {
      margin: 0 0 4px 0;
      font-size: 1rem;
      color: $secondary-color;
      cursor: pointer;
    }

    .item-reference {
      margin: 0 0 8px 0;
      font-size: 0.85rem;
      color: #888;
      font-style: italic;
    }

    .item-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item-price {
        margin: 0;
        font-weight: bold;
        color: #4ade80;
      }

      .quantity-controls {
        display: flex;
        align-items: center;
        gap: 10px;

        button {
          width: 25px;
          height: 25px;
          padding: 0;
          border: none;
          background: transparent;
          border-radius: 4px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          font-size: 2rem;

          &:hover:not(:disabled) {
            transform: translate(0);
            background: transparent;
            box-shadow: none;
            @include icon-iluminate;
          }

          &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }

        span {
          min-width: 30px;
          text-align: center;
          font-weight: bold;
          cursor: pointer;
        }

        input {
          max-width: 50px;
          text-align: center;
          border: 1px solid #ccc;
          border-radius: 4px;
          padding: 2px;
          font-weight: bold;
        }
      }
    }
  }

  .remove-button {
    position: absolute;
    top: 8px;
    left: 4px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0;
    border-radius: 4px;

    svg {
      width: 30px;
      height: 30px;
    }

    path {
      fill: #ec4848;
      transition: all 0.3s ease;
    }

    &:hover {
      box-shadow: none;

      path {
        fill: #f21818;
      }
    }
  }
}

.cart-footer {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 20px;

  .total {
    text-align: center;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    strong {
      font-size: 1.2rem;
      color: $secondary-color;
    }
  }

  .checkout-button {
    width: 100%;
  }
}

// Responsive
@media (max-width: 480px) {
  .cart-modal-overlay {
    padding-top: 50px;
  }

  .cart-modal {
    right: 50%;
    transform: translateX(50%);
    width: 90vw;
    max-width: none;
    max-height: 90vh;
  }

  .cart-header,
  .cart-content,
  .cart-footer {
    padding: 15px;
  }

  .cart-item {
    .item-details {
      width: 100%;

      .item-container {
        gap: 20px;
      }
    }
  }
}
