@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.objectives-container {
  display: flex;
  justify-content: space-around;
  position: relative;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  .objectives {
    width: 50%;
    padding: 20px 40px;
    border-radius: 10px;
    @include transparent;
    @media (max-width: 768px) {
      width: 100%;
    }

    .objectives-title {
      font-family: 'Archivo Black', sans-serif;
      font-size: 1.8rem;
      margin-bottom: 20px;
      @include text-iluminate-soft;

      &.second {
        text-align: right;
      }

      @media (max-width: 768px) {
        margin-bottom: 10px;
      }
    }
    .objectives-text {
      &.first {
        text-align: left;
      }
      &.second {
        text-align: right;
      }
    }
  }
}
