@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.config-buttons {
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 8px;
  @include transparent;

  h2 {
    margin-bottom: 1rem;
    color: $secondary-color;
  }

  button {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 1rem;

    &:hover {
      background-color: #0056b3;
    }

    &:last-child {
      background-color: #dc3545;

      &:hover {
        background-color: #c82333;
      }
    }
  }
}
