// Profile page styles
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.profile-page {
  margin-top: 7rem;
  max-width: 90%;

  h1 {
    margin-bottom: 1rem;
    @include text-iluminate;

    @media (max-width: 768px) {
      text-align: center;
    }
  }
}
