@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.admin-orders-filters {
  @include transparent;
  width: 100%;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: $secondary-color;
    font-size: 1.2rem;
  }

  .filters-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin-bottom: 1.5rem;

    .filter-group {
      display: flex;
      flex-direction: column;

      label {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
        color: $secondary-color;
        font-weight: 500;
      }

      input,
      select {
        padding: 0.5rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 0.9rem;
        transition: border-color 0.3s;

        option {
          background-color: #2d2d2d;
          border: none;
        }

        &:focus {
          border-color: #007bff;
          outline: none;
        }
      }

      &.price-group {
        .price-inputs {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          input {
            width: 100%;

            option {
              background-color: #2d2d2d;
              border: none;
            }
          }
        }
      }
    }
  }

  .filter-actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;

    button {

      &.apply-btn {
        width: 50%;
      }

      &.clear-btn {
        width: 50%;
      }
    }
  }
}
