@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.admin-orders-page {
  max-width: 1400px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .admin-orders-header {
    margin-top: 7rem;
    
    h1 {
      @include text-iluminate;
      font-size: 2rem;
      color: $secondary-color;
      margin-bottom: 0.5rem;
      text-align: center;
    }

    p {
      color: $secondary-color;
      font-size: 1.1rem;
      text-align: center;
      margin: 0;
    }
  }

  .filters-section {
    padding-bottom: 0.5rem;
    padding-top: 1rem;
  }

  .list-section {
    padding-top: 0.5rem;
  }
}
