@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

@keyframes speedometer {
  0% {
    transform: rotate(-108deg);
  }
  20% {
    transform: rotate(50deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(90deg);
  }
  60% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(80deg);
  }
  90% {
    transform: rotate(-108deg);
  }
  100% {
    transform: rotate(-108deg);
  }
}

@keyframes pistons {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px);
  }
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 350px;

  @media (max-width: 768px) {
    height: 500px;
  }

  .slider-button {
    position: absolute;
    top: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 8px 8px;
    box-shadow: 0px 0px 10px rgba(135, 135, 135, 0.4);
    cursor: pointer;
    background-color: $secondary-color;
    background-image: url('../../assets/icons/ArrowIcon');
    background-size: cover;
    background-position: center;
    transform-origin: center;
    transition:
      box-shadow 0.3s ease,
      transform 0.2s ease;

    path {
      fill: $primary-color-hard;
    }

    &.button-left {
      transform: rotate(90deg) translate(-50%, -50%);
      left: -50px;
      &:hover {
        box-shadow: 0px 0px 15px rgba(135, 135, 135, 0.6);
        transform: scale(1.02) rotate(90deg) translate(-50%, -50%);
      }
    }
    &.button-right {
      transform: rotate(-90deg) translate(50%, -50%);
      right: -50px;
      &:hover {
        box-shadow: 0px 0px 15px rgba(135, 135, 135, 0.6);
        transform: scale(1.02) rotate(-90deg) translate(50%, -50%);
      }
    }
  }

  .slider-card {
    @include card-style;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 30px 10%;
    transition: all 0.5s ease-in-out;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      padding: 20px 12%;
    }

    &.motor {
      .slider-image {
        @media (max-width: 768px) {
          height: 32%;
        }
      }
      .slider-text {
        @media (max-width: 768px) {
          height: 65%;
        }
      }
    }

    .slider-image {
      position: relative;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(-20px);

      @media (max-width: 768px) {
        width: 100%;
        height: 40%;
        transform: translateY(0px);
      }
      .image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;

        @media (max-width: 768px) {
          width: 110%;
          height: 110%;
        }
        &.speedometer {
          position: absolute;
        }
        &.needle {
          transform-origin: 50.2% 66.5%;
          transform: rotate(-108deg);
          animation: speedometer 10s ease-in-out infinite;
        }
        &.pistons {
          position: absolute;
        }
        &.pistons1 {
          animation: pistons 0.6s ease-in-out 0s infinite alternate;
        }
        &.pistons2 {
          transform: translateY(-30px);
          animation: pistons 0.6s ease-in-out 0.6s infinite alternate;
        }
      }
      .shadow {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 12%;
        border-radius: 50%;
        background: radial-gradient(
          ellipse at center,
          rgb(0, 0, 0) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        filter: blur(5px);
      }
    }
    .slider-text {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 45%;
      height: 100%;

      @media (max-width: 768px) {
        width: 100%;
        height: 55%;
      }

      .tittle {
        font-size: 2rem;
        font-family: $font-family-secondary;
        text-align: center;
        &.text-right {
          margin-top: 20px;
          text-align: right;
          @media (max-width: 768px) {
            text-align: center;
          }
        }
        @media (max-width: 768px) {
          font-size: 1.7rem;
        }
      }
      .text {
        font-size: 1rem;
        text-align: center;
        &.text-right {
          margin-bottom: 20px;
          text-align: right;
          @media (max-width: 768px) {
            text-align: center;
          }
        }
      }
      .button {
        position: relative;
        width: 60%;
        font-family: 'Archivo Black', sans-serif;
        font-size: 1.2rem;
        border-radius: 5px;
        border: none;
        padding: 8px 16px;
        background-color: $secondary-color;
        color: $primary-color;
        box-shadow: 4px 4px 10px rgba(135, 135, 135, 0.4);
        cursor: pointer;
        transition:
          box-shadow 0.3s ease,
          transform 0.2s ease;

        &:hover {
          box-shadow: 6px 6px 15px rgba(135, 135, 135, 0.6);
          transform: translateY(-2px);
        }
        .glow {
          width: 60px;
          height: 60px;
          position: absolute;
          top: -28px;
          right: -28px;
          transform-origin: center;
          transform: rotate(45deg);
          background-image: url('../../assets/images/glow.png');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
